---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<section
	aria-labelledby="project-section-title"
	class="project-section"
	data-testid="project-section"
>
	<h2
		class="project-section__title"
		data-testid="project-section-title"
		id="project-section-title"
	>
		{title}
	</h2>

	<slot />
</section>

<style>
	.project-section {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.project-section__title {
		font-size: 1.875rem;

		@media (width >= 1024px) {
			font-size: 3rem;
		}
	}
</style>
