# Build artifacts
dist/

# Dependencies
node_modules/

# Generated types
.astro/

# Platform specific files
.netlify/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
