<span class="glow" data-testid="glow" role="presentation"></span>

<style>
	.glow {
		--glow-sm: 300px;
		--glow-md: 350px;
		--glow-lg: 400px;

		content: '';
		position: absolute;
		transform: translate(-50%, -50%);
		width: var(--glow-sm);
		height: var(--glow-sm);
		border-radius: 50%;
		background: radial-gradient(
			circle,
			var(--color-accent) 0%,
			color-mix(in oklch, var(--color-accent), transparent 40%) 50%,
			color-mix(in oklch, var(--color-accent), transparent 80%) 100%
		);
		filter: blur(100px);

		@media (width >= 48rem) {
			width: var(--glow-md);
			height: var(--glow-md);
		}

		@media (width >= 64rem) {
			width: var(--glow-lg);
			height: var(--glow-lg);
		}
	}
</style>
