---
import { Icon } from 'astro-icon/components';
import Menu from '@/components/shared/Menu.astro';
---

<header class="header header--animation" data-testid="header" id="header">
	<div class="header__content container" data-testid="header-content">
		<a class="header__logo" data-testid="header-logo" href="/" id="logo">
			<span class="visually-hidden">Home</span>

			<Icon aria-hidden="true" name="logo" size={32} />
		</a>

		<button
			aria-controls="menu"
			aria-expanded="false"
			aria-label="Open menu"
			class="menu-toggler"
			data-testid="header-menu-toggler"
			id="menu-toggler"
			type="button"
		>
			<span
				class="menu-toggler__icon"
				data-testid="header-menu-toggler-icon"
				role="presentation"
			>
			</span>
		</button>

		<Menu />
	</div>
</header>

<style>
	.header {
		position: sticky;
		z-index: var(--z-index-header);
		top: 0;
		display: flex;
		align-items: center;
		min-height: var(--header-min-height);
		border-bottom: 1px solid var(--color-secondary);
		background-color: var(--color-primary);

		@media (width >= 64rem) {
			min-height: var(--header-max-height);
		}
	}

	@supports (animation-timeline: auto) {
		.header--animation {
			--timing-function: linear;
			--fill-mode: both;
			--timeline: scroll();
			--range: 0 100px;

			animation-name: header-scroll;
			animation-timing-function: var(--timing-function);
			animation-fill-mode: var(--fill-mode);
			animation-timeline: var(--timeline);
			animation-range: var(--range);
		}
	}

	.header__content {
		display: flex;
		gap: 60px;
		align-items: center;
		justify-content: space-between;
	}

	.header__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5em;
	}

	.menu-toggler {
		--icon-size: 48px;

		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--icon-size);
		height: var(--icon-size);
		padding: 0.5em;

		@media (width >= 64rem) {
			display: none;
		}
	}

	.menu-toggler__icon {
		--line-width: 24px;
		--line-height: 2px;
		--line-border-radius: 2px;

		position: relative;
		width: var(--line-width);
		height: var(--line-height);
		border-radius: var(--line-border-radius);
		background-color: var(--color-contrast);

		&::before,
		&::after {
			content: '';
			position: absolute;
			inset-inline: 0;
			width: var(--line-width);
			height: var(--line-height);
			border-radius: var(--line-border-radius);
			background-color: var(--color-contrast);

			@media (prefers-reduced-motion: no-preference) {
				transition: transform var(--motion-duration) ease-in-out;
			}
		}

		&::before {
			top: -6px;
		}

		&::after {
			top: 6px;
		}

		@media (prefers-reduced-motion: no-preference) {
			transition: background-color var(--motion-duration) ease-in-out;
		}
	}

	.menu-toggler[aria-expanded='true'] {
		& .menu-toggler__icon {
			background-color: transparent;
		}

		& .menu-toggler__icon::before {
			transform: translateY(6px) rotate(45deg);
		}

		& .menu-toggler__icon::after {
			transform: translateY(-6px) rotate(-45deg);
		}
	}

	[data-icon='logo'] {
		@media (prefers-reduced-motion: no-preference) {
			animation: dash 10s ease-in-out forwards infinite;
		}
	}
</style>

<script src="@/scripts/menu.ts"></script>
