---
import type { Link } from '@/types/Link';

import ArticleList from '@/components/Blog/ArticleList.astro';
import Glow from '@/components/Glow.astro';
import { descriptions } from '@/data/descriptions';
import ContentLayout from '@/layouts/ContentLayout.astro';
import Layout from '@/layouts/Layout.astro';
import { ArticleManager } from '@/utils/article';
import { SEOManager } from '@/utils/seo';
import { getCollection } from 'astro:content';

const title = SEOManager.generatePageTitle('Blog');

const articles = await getCollection('blog');

const sortedArticles = ArticleManager.sortByDate(articles);

const breadcrumbs: Link[] = [
	{ label: 'Home', title: 'Go to the home page', url: '/' },
	{ label: 'Blog', title: `You are currently on blog`, url: '/blog/' },
];

const blogSchema = SEOManager.buildBlogSchema(Astro.url, sortedArticles);
const breadcrumbsSchema = SEOManager.buildBreadcrumbsSchema(Astro.url, breadcrumbs);
---

<Layout
	cover="blog.png"
	description={descriptions.articles}
	schemas={[blogSchema, breadcrumbsSchema]}
	title={title}
	type="website"
>
	<ContentLayout breadcrumbs={breadcrumbs} title="Blog">
		{
			sortedArticles.length > 0 ? (
				<div class="articles">
					<ArticleList articles={sortedArticles} />

					<span class="articles-glow">
						<Glow />
					</span>
				</div>
			) : (
				<div class="no-articles">
					<h2 class="no-articles__title">There are no articles yet.</h2>

					<p class="no-articles__subtitle">
						But you still can check out my projects on
						<a class="no-articles__projects-link" href="/projects/">
							the projects page!
						</a>
					</p>
				</div>
			)
		}
	</ContentLayout>
</Layout>

<style>
	.articles {
		position: relative;
	}

	.no-articles {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.no-articles__title {
		font-size: 1.5rem;

		@media (width >= 768px) {
			font-size: 2.25rem;
		}
	}

	.no-articles__subtitle {
		@media (width >= 768px) {
			font-size: 1.125rem;
		}
	}

	.no-articles__projects-link {
		text-decoration: underline;
	}

	.articles-glow {
		position: absolute;
		z-index: var(--z-index-glow);
		bottom: 50%;
		width: 100vw;
		margin-left: calc(50% - 50vw);
	}
</style>
