---
import { Icon } from 'astro-icon/components';
import type { MarkdownHeading } from 'astro';

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav
	aria-labelledby="toc-toggler"
	class="table-of-contents"
	data-testid="table-of-contents"
	id="toc"
>
	<h2 class="table-of-contents__title" data-testid="table-of-contents-title">
		<button
			aria-controls="toc-content"
			aria-expanded="true"
			class="table-of-contents__toggle"
			data-testid="table-of-contents-toggle"
			id="toc-toggler"
			type="button"
		>
			Table of Contents

			<Icon
				aria-hidden="true"
				class="table-of-contents__icon"
				data-testid="table-of-contents-toggle-icon"
				name="chevron-down"
			/>
		</button>
	</h2>

	<div
		class="table-of-contents__content"
		data-testid="table-of-contents-content"
		id="toc-content"
	>
		<ol class="table-of-contents__list" data-testid="table-of-contents-list" id="toc-list">
			{
				headings.map((heading) => (
					<li
						class:list={[
							'table-of-contents__item',
							`table-of-contents__item--${heading.depth}`,
						]}
						data-testid="table-of-contents-item"
					>
						<a
							class="table-of-contents__link hover"
							data-testid="table-of-contents-link"
							href={`#${heading.slug}`}
						>
							{heading.text}
						</a>
					</li>
				))
			}
		</ol>
	</div>
</nav>

<style>
	.table-of-contents {
		padding: 20px;
		border: 1px solid var(--color-secondary);
		border-radius: 12px;
		background-color: var(--color-transparent);
		backdrop-filter: blur(10px);

		&:has(.table-of-contents__toggle:focus-visible) {
			outline: 0.125em solid var(--color-focus);
			outline-offset: 0.125em;
		}
	}

	.table-of-contents__content {
		overflow: hidden;

		@media (prefers-reduced-motion: no-preference) {
			transition: height var(--motion-duration) ease-in-out;
		}
	}

	.table-of-contents__list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 20px 8px;
	}

	.table-of-contents__item--2 {
		margin-left: 0;
	}

	.table-of-contents__item--3 {
		margin-left: 20px;
	}

	.table-of-contents__item--4 {
		margin-left: 40px;
	}

	.table-of-contents__link {
		@media (width >= 48rem) {
			font-size: 1.125rem;
		}
	}

	.table-of-contents__toggle {
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		outline: none;
	}

	.table-of-contents__toggle[aria-expanded='false'] {
		& .table-of-contents__content {
			height: 0;
		}

		& [data-icon='chevron-down'] {
			transform: rotate(-180deg);
		}
	}

	.table-of-contents__title {
		font-size: 1.25rem;
	}

	.table-of-contents__icon {
		--icon-size: 24px;

		width: var(--icon-size);
		height: var(--icon-size);

		@media (prefers-reduced-motion: no-preference) {
			transition: transform var(--motion-duration) ease-in-out;
		}
	}
</style>

<script src="@/scripts/toc.ts"></script>
