:root {
	/* Z-Indexes */
	--z-index-glow: -1;
	--z-index-menu: 1;
	--z-index-model: 2;
	--z-index-header: 3;
	--z-index-skip-to-content: 4;

	/* Sizes */
	--container-width: 1440px;
	--header-min-height: 60px;
	--header-max-height: 80px;
	--footer-text-spacing: 0.265em;

	/* Timings */
	--motion-duration: 0.3s;
	--highlight-duration: 0.15s;

	/* Colors */
	--color-white: 99.7% 0 0;
	--color-timberwolf: 85.45% 0 0;
	--color-cadet-gray: 70.58% 0 0;
	--color-dim-gray: 46.04% 0 0;
	--color-onyx: 37.53% 0 0;
	--color-night: 18.22% 0 0;
	--color-mindaro: 93.72% 0.1729 126.6;
	--color-rebecca-purple: 42.11% 0.1579 293.85;
	--color-slate-blue: 45.44% 0.1518 255.415;
	--color-cornflower-blue: 74.9% 0.1344 249.77;
	--color-dark-orchid: 45.34% 0.1798 298.54;
	--color-light-orchid: 74.75% 0.0914 326.44;
}
