.container {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1300px;
	margin-inline: auto;
	padding-inline: 20px;
}

.container--gapped {
	display: flex;
	flex-direction: column;
	gap: 60px;

	@media (width >= 768px) {
		gap: 80px;
	}

	@media (width >= 1024px) {
		gap: 100px;
	}
}

.container--spaced {
	padding-block: 20px;

	@media (width >= 1024px) {
		padding-block: 40px;
	}
}
