:root {
	--color-primary: oklch(var(--color-night));
	--color-secondary: oklch(var(--color-onyx) / 25%);
	--color-neutral: oklch(var(--color-cadet-gray));
	--color-transparent: oklch(var(--color-night) / 25%);
	--color-contrast: oklch(var(--color-white));
	--color-accent: oklch(var(--color-rebecca-purple) / 75%);
	--color-focus: oklch(var(--color-mindaro));
	--color-link: oklch(var(--color-cornflower-blue));
	--color-visited: oklch(var(--color-light-orchid));

	color-scheme: dark;
}
