@font-face {
	font-family: Montserrat;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Montserrat;
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	src: url("/fonts/Montserrat-Italic.woff2") format("woff2");
}

@font-face {
	font-family: Montserrat;
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Fira Code";
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/FiraCode-Light.woff2") format("woff2");
}
