.hover {
	color: var(--color-neutral);

	@media (hover: hover) {
		&:hover {
			color: var(--color-contrast);
		}
	}

	@media (hover: none) {
		&:active {
			color: var(--color-contrast);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		transition: color var(--highlight-duration) ease-in-out;
	}
}
