@keyframes dash {
	0% {
		stroke-dasharray: 0 5870;
	}

	33% {
		stroke-dasharray: 5870 0;
	}

	66% {
		stroke-dasharray: 5870 0;
	}

	100% {
		stroke-dasharray: 0 5870;
	}
}

@keyframes header-scroll {
	from {
		background-color: transparent;
		border-bottom-color: transparent;
	}

	to {
		background-color: var(--color-primary);
		border-bottom-color: var(--color-secondary);
	}
}

@keyframes grain-scroll {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.1;
	}
}
