.visually-hidden:not(:focus, :active) {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: none;
	white-space: nowrap;
	clip-path: inset(50%);
}
