---
import { Icon } from 'astro-icon/components';

import type { Article } from '@/types/Article';

interface Props {
	articles: Article[];
}

const { articles } = Astro.props;
---

<ul class="article-list" data-testid="home-articles-list">
	{
		articles.map(({ data }) => (
			<li data-testid="home-article-item">
				<article class="article-card" data-testid="home-article-card">
					<h3 class="article-card__title" data-testid="home-article-title">
						{data.title}
					</h3>

					<p data-testid="home-article-description">{data.description}</p>

					<a
						class="article-card__link"
						data-testid="home-article-link"
						draggable="false"
						href={`/blog/${data.slug}/`}
					>
						Read article
						<Icon
							aria-hidden="true"
							class="article-card__navigation-icon"
							data-testid="home-article-icon"
							name="arrow-default"
							width={40}
						/>
					</a>
				</article>
			</li>
		))
	}
</ul>

<style>
	.article-list {
		--column-size: minmax(0, 1fr);

		display: grid;
		grid-template-columns: repeat(1, var(--column-size));
		gap: 20px;

		@media (width >= 1024px) {
			grid-template-columns: repeat(2, var(--column-size));
		}

		@media (width >= 1240px) {
			grid-template-columns: repeat(3, var(--column-size));
		}
	}

	.article-card {
		--border-rounding: 12px;

		position: relative;
		display: flex;
		flex-direction: column;
		gap: 10px;
		height: 100%;
		padding: 20px;
		border: 1px solid var(--color-secondary);
		border-radius: var(--border-rounding);
		background-color: var(--color-transparent);
		backdrop-filter: blur(10px);
	}

	.article-card__link {
		display: flex;
		gap: 8px;
		align-items: center;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: var(--border-rounding);
		}

		&:focus-visible {
			outline: none;
		}

		&:focus-visible::before {
			outline: 2px solid var(--color-focus);
			outline-offset: 2px;
		}
	}

	.article-card__title {
		font-size: 1.5rem;
	}

	.article-card__navigation-icon {
		min-width: max-content;
		margin-left: 8px;
		font-size: 1rem;
	}
</style>
