---
import type { Contact } from '@/types/Contact';

import { Icon } from 'astro-icon/components';

interface Props {
	contacts: Contact[];
}

const { contacts } = Astro.props;
---

<ul class="contact-list">
	{
		contacts.map(({ icon, label, title, url }) => (
			<li class="contact-list__item">
				<a
					aria-label={label && `Contact via ${label}`}
					class="contact-list__link hover"
					href={url}
					rel="noopener noreferrer"
					target="_blank"
				>
					<Icon aria-hidden="true" class="contact-list__icon" name={icon} />

					{title}
				</a>
			</li>
		))
	}
</ul>

<style>
	.contact-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.contact-list__item {
		max-width: max-content;
	}

	.contact-list__link {
		display: flex;
		gap: 20px;
		align-items: center;
		font-size: 1.125rem;
		text-decoration: underline;

		@media (width >= 768px) {
			font-size: 1.25rem;
		}
	}

	.contact-list__icon {
		--icon-sm: 20px;
		--icon-md: 24px;

		width: var(--icon-sm);
		height: var(--icon-sm);

		@media (width >= 768px) {
			width: var(--icon-md);
			height: var(--icon-md);
		}
	}
</style>
