---
import Model from '@/components/shared/Model.astro';
import Glow from '@/components/shared/Glow.astro';
import { global } from '@/data/global';
---

<header class="hero" data-testid="hero">
	<h1 class="hero__title" data-testid="hero-title">
		<span class="hero__intro" data-testid="hero-intro">Hi, I am</span>

		<strong class="hero__name" data-testid="hero-name">{global.author}</strong>
	</h1>

	<p class="hero__description" data-testid="hero-description">{global.about}</p>

	<div class="hero__model-container" data-testid="hero-model-container">
		<Model />

		<span class="hero__model-glow" data-testid="hero-model-glow">
			<Glow />
		</span>
	</div>
</header>

<style>
	.hero {
		--title-order: 1;
		--model-order: 2;
		--description-order: 3;

		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 40px 0 20px;

		@media (width >= 64rem) {
			display: grid;
			grid-template-areas:
				'title model'
				'description model';
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 8px;
			padding: 80px 0 40px;
		}
	}

	.hero__title {
		display: flex;
		grid-area: title;
		flex-direction: column;
		justify-content: end;
		order: var(--title-order);
	}

	.hero__intro {
		font-size: 1.5rem;
	}

	.hero__name {
		font-size: 2.25rem;
		font-weight: normal;

		@media (width >= 48rem) {
			font-size: 3rem;
		}

		@media (width >= 64rem) {
			font-size: 3.75rem;
		}

		@media (width >= 1240px) {
			text-transform: uppercase;
		}
	}

	.hero__model-container {
		position: relative;
		display: flex;
		grid-area: model;
		align-items: center;
		justify-content: center;
		order: var(--model-order);
	}

	.hero__model-glow {
		position: absolute;
		z-index: var(--z-index-glow);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.hero__description {
		grid-area: description;
		order: var(--description-order);
		font-family: 'Fira Code', monospace;
		font-size: 1.125rem;
		text-wrap: balance;

		@media (width >= 48rem) {
			text-align: end;
		}

		@media (width >= 64rem) {
			text-align: start;
		}
	}
</style>
