---
import type { Crumb } from '@/types/Crumb';

import { Icon } from 'astro-icon/components';

interface Props {
	breadcrumbs: Crumb[];
}

const { breadcrumbs } = Astro.props;
---

<nav aria-label="Breadcrumbs" class="breadcrumbs">
	<ol class="breadcrumbs__list">
		{
			breadcrumbs.map((crumb, index) => (
				<li class="breadcrumbs__item">
					<a
						aria-current={crumb.current ? 'page' : null}
						aria-label={crumb.title}
						class="breadcrumbs__link hover"
						href={crumb.url}
						tabindex={crumb.current ? '-1' : '0'}
					>
						{crumb.label}
					</a>

					{index < breadcrumbs.length - 1 && (
						<Icon
							aria-hidden="true"
							class="breadcrumbs__separator"
							name="chevron-down"
						/>
					)}
				</li>
			))
		}
	</ol>

	<div class="breadcrumbs__mask" role="presentation"></div>
</nav>

<style>
	.breadcrumbs {
		position: relative;
		overflow: hidden;
	}

	.breadcrumbs__list {
		scrollbar-width: none;
		overflow-x: auto;
		display: flex;
		align-items: center;
		padding-right: 48px;
	}

	.breadcrumbs__item {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	.breadcrumbs__link {
		padding-block: 8px;
		font-size: 1.125rem;

		&:focus-visible {
			--offset-width: -2px;

			border-radius: calc(8px + var(--offset-width));
			outline: 2px solid var(--color-focus);
			outline-offset: var(--offset-width);
		}
	}

	.breadcrumbs__link[aria-current='page'] {
		pointer-events: none;
		color: var(--color-contast);
	}

	.breadcrumbs__separator {
		transform: rotate(-90deg);
		max-width: max-content;
		margin-inline: 12px;
		color: var(--color-neutral);
	}

	.breadcrumbs__mask {
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 48px;
		height: 100%;
		background: linear-gradient(to right, transparent, var(--color-primary) 90%);
	}
</style>
