---
interface Props {
	id?: string;
}

const { id = 'message' } = Astro.props;
---

<div class="message" id={id}>
	<div class="message__content">
		<span class="message__text" id={`${id}-text`}>Hi!</span>
	</div>
</div>

<style>
	.message {
		width: 100%;
		border: 1px solid var(--color-secondary);
		border-radius: 24px;
		background: var(--color-transparent);
		backdrop-filter: blur(10px);
	}

	.message__content {
		position: relative;
		padding: 12px;
	}

	.message__text {
		font-size: 0.875rem;
		line-height: 1.2;
	}
</style>
