---
import { Icon } from 'astro-icon/components';
---

<a class="skip-to-content" data-testid="skip-to-content" href="#content">
	Skip to content

	<Icon aria-hidden="true" name="arrow-default" width={40} />
</a>

<style>
	.skip-to-content {
		pointer-events: none;
		position: absolute;
		z-index: var(--z-index-skip-to-content);
		top: 10px;
		left: 50%;
		transform: translate(-50%, -100%);
		display: flex;
		gap: 12px;
		align-items: center;
		width: max-content;
		padding: 1em;
		border: 1px solid var(--color-secondary);
		border-radius: 12px;
		opacity: 0;
		background-color: var(--color-primary);

		&:focus-visible {
			pointer-events: all;
			transform: translate(-50%, 0);
			opacity: 1;
		}

		@media (prefers-reduced-motion: no-preference) {
			transition:
				transform var(--motion-duration),
				opacity var(--motion-duration);
		}
	}
</style>
