---
import { Icon } from 'astro-icon/components';
---

<a class="skip-to-content" href="#content">
	Skip to content

	<Icon aria-hidden="true" name="arrow-default" width={40} />
</a>

<style>
	.skip-to-content {
		position: absolute;
		z-index: var(--z-index-skip-to-content);
		left: -9999px;
		display: flex;
		gap: 12px;
		align-items: center;
		width: max-content;
		padding: 20px;
		opacity: 0;
		background-color: var(--color-primary);
		border-radius: 0 0 12px 12px;

		&:focus {
			left: 50%;
			transform: translateX(-50%);
			opacity: 1;
		}

		@media (prefers-reduced-motion: no-preference) {
			transition: opacity var(--motion-duration);
		}
	}
</style>
